@use "../../../scss/abstract/" as *;



.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px; 
    text-align: center;
    width: 850px;
    max-width: 95%;
    padding: 5px;
    max-height: 95%;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.8);
}
/********************************************HEADER**********************************************/
.divHeaderModal{
    border-radius: 8px 8px 0 0;
    background-color: rgb(220, 220, 220);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pTitleModal{
    padding: 6px;
    font-size: 16px;
    font-weight: 700;
}
.divBtnEdit{
    display: flex;
    align-items: center;
}

.fechar{
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin: 6px;
    border-radius: 4px;
    width: 80px;
    height: 30px;
    border: 2px solid back;
}
.fechar:hover{
    font-size: 20px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.3);
}
.salvar{
    font-size: 18px;
    font-weight: 600;
    color: green;
    border-radius: 4px;
    width: 80px;
    height: 30px;
    border: 2px solid green;
}
.salvar:hover{
    font-size: 20px;
    font-weight: 700;
    background-color: rgba(0, 128, 0, 0.3);
}
.excluir{
    font-size: 18px;
    font-weight: 600;
    color: red;
    margin: 6px;
    border-radius: 4px;
    width: 80px;
    height: 30px;
    border: 2px solid red;
}
.excluir:hover{
    font-size: 20px;
    font-weight: 700;
    background-color: rgba(128, 0, 0, 0.3);
}



/********************************************FORMULÃRIO**********************************************/
.secForm{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px;
    flex-wrap: wrap;
    border-bottom: 1px dashed black;
    margin-bottom: 5px;
}
.address{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-right: 25px;
}
.divInfoBussines{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-right: 25px;
}
.formGroup{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 3px;

    > label{
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 3px;
    }
    > select {
        width: 210px;
        font-size: 16px;
        padding: 5px 12px;
        border-radius: 4px;

        > option {
            font-size: 18px;
        }
    }

    > textarea {
        width: 300px;
        height: 80px;
        font-size: 14px;
        border-radius: 3px;
        padding: 5px;
        resize: vertical;
    }
}
.inputRegister{
    width: 200px;
    font-size: 16px;
    border-radius: 4px;
    padding: 5px;
}
.inputAddress{
    width: 200px;
    font-size: 16px;
    border-radius: 4px;
    padding: 5px;
}

.errorMsg{
    color: red;
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
}

/******************************************** RESPONSAVEL**********************************************/
.addRespBtn{
    font-size: 14px;
    font-weight: 700;
    color: blue;
    margin-bottom: 6px;
    border-radius: 4px;
    height: 30px;
    width: 150px;
    max-width: 90%;
    border: 1px solid blue;
}
.addRespBtn:hover{
    background-color: rgba(0, 0, 128, 0.3);
}

.secResponsible{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.responsibleForm{
    margin: 3px;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 255, 0.1);
    padding: 3px;
    border-radius: 4px;
    justify-content: flex-start;
    align-items: center;
}
.inputResp{
    width: 170px;
    font-size: 16px;
    border-radius: 4px;
    padding: 5px;
}

.btnClose{
    font-size: 14px;
    font-weight: 600;
    padding: 3px;
    border-radius: 4px;
    border: none;
    color: red;
}
.btnClose:hover{
    background-color: rgba(255, 0, 0, 0.3);
    font-weight: 700;
}
