@use "../../scss/abstract/" as *;


.secComm{
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    padding: 3px;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 8px;
    border: 1px solid rgb(160, 160, 160);
}
.divTitleHeaderComm{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}
.TitleBtn{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.divTitleComm{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
} 

.h1Title{
    font-size: 18px;
    font-weight: 600;
}
.btnCriar{
    font-size: 12px;
    font-weight: 600;
    padding: 3px;
    border-radius: 4px;
}
.btnCriar:hover{
    background-color: rgb(210, 210, 210);
}


.divShareComm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    background-color: rgb(210, 210, 210);
    border-radius: 4px;
    padding: 3px;
    width: 90%;
}
.pShare{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
}
.divInputs{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.divShareInput{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 4px;

    > p {
        margin-bottom: 4px;
        font-size: 12px;
        font-weight: 600;
    }

    > input{
        font-size: 12px;
        padding: 3px;
        border-radius: 4px;
        border: 1px solid black;
    }
}


.formCriaComment{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    flex-direction: column;
    align-items: center;

    .divBtn{
        display: flex;
        padding: 6px;

        .btnSalvar{
            width: 85px;
            font-weight: 700;
            margin-right: 15px;
            padding: 3px;
            border: 2px solid rgba(0, 128, 0, 0.7);
        }
        .btnCancelar{
            width: 85px;
            font-weight: 700;
            padding: 3px;
            border: 2px solid rgba(0, 0, 0, 0.7);
        }
        .btnSalvar:hover{
            background-color: rgba(0, 128, 0, 0.3);
        }
        .btnCancelar:hover{
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}

.divComment{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.textareaCriaComment{
    height: 75px;
    padding: 6px;
    border-radius: 6px;
    resize: vertical;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.divTitleComment{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.criaTitleComm{
    padding: 6px;
    border-radius: 6px;
    resize: vertical;
    border: 1px solid rgba(0, 0, 0, 0.3);
}


.pError{
    display: flex;
    margin: 5px;
    font-size: 10px;
    font-weight: 600;
    color: red;
}