@use "../../scss/abstract/" as *;

.lateralMenuMain{
    background-color: rgb(235, 235, 235);
    min-width: 170px;
    width: 18%;
    height: 250px;
    border-radius: 8px;
    margin-right: 16px;
}

.pMenu{
    padding: 5px;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    cursor: pointer;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.pMenu:hover{
    font-size: 19px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    cursor: pointer;
    background-color: rgb(194, 194, 194);
    border-radius: 6px 0 0 6px;
}