@use "../../../scss/abstract/" as *;

.sectionCard{
    background-color: rgb(230, 230, 230);
    border-left: 3px solid rgba(0, 0, 0, 0.7);
    border-right: 3px solid rgba(0, 0, 0, 0.7);
    border-bottom: 3px solid rgba(0, 0, 0, 0.7);
}

//*********************************************HEADER*********************************************
.table{
    display: flex;
    flex-direction: column;
}

.tr{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px; 
}
.divBtn{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 5px;
}
.btnEditar{
    min-width: 25px;
    max-width: 25px;
    font-size: 14px;
    border: none;
}
.btnEditar:hover{
    color: green;
}

.btnExcluir{
    font-size: 18px;
    padding: 5px;
    border-radius: 3px;
}
.btnExcluir:hover{
    color: red;
    border: 2px solid red;
}


//*********************************************TABELA*********************************************

.selectedRow{
    background-color: rgba(0, 0, 255);
    color: white;
}
.responsibleRow{
    background-color: rgba(0, 0, 255, 0.3);
}
.trH{
    display: flex;
    justify-content: flex-start;
    align-items: center;   
    font-weight: 700;
    font-size: 16px;
}
.thCNPJ, .thFone, .thName, .thCod, .thSeta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    border-left:  3px solid rgba(0, 0, 0, 0.7);
}
.thSeta{
    width: 20px;
    cursor: pointer;
}
.thCod{
    width: 60px;
}
.thName{
    width: 510px;
    text-align: justify;
}
.thFone{
    width: 130px;
}
.thCNPJ{
    width: 150px;
}


.td{
    max-width: 100%;
}

.divInfoClient{
    display: flex;
}
.divEmailComment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 320px;
    border: 1px solid grey;
    background-color: white;
    margin-right: 15px;
    margin-left: 10px;
}
.textarea{
    width: 300px;
    height: 40px;
    resize: none;
}

.divAddrass{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid grey;
    background-color: white;
    width: 570px;
    padding: 5px;
}
.divLabel{
    display: flex;
    padding: 3px;
    flex-wrap: wrap;
}
.h3Addrass{
    font-size: 14px;
    font-weight: 600;
}
.label {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 13px;
    font-weight: 600;
    margin: 5px;
}
.input{
    outline: none;
    font-size: 13px;
    padding: 3px;
}

.responsiblesContainer{
    display: flex;
    padding: 5px;
    max-width: 100%;
    overflow-y: auto;
}
.responsible{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255);
}
.pResp{
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3px 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-right: 5px;

    .strong{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 70px;
        font-size: 14px;
        font-weight: 600;
        margin-left: 5px;
    }
}