@use "../../scss/abstract/" as *;

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalCard{
    background-color: white;
    border-radius: 8px;
    text-align: center;
    width: 700px;
    max-width: 95%;
    max-height: 95%;
    overflow-y: auto;
}
.form{
    border-radius: 8px;
    max-height: 90%;
    overflow: auto;
}


/******************************************** HEADER **********************************************/
.divHeader{
    max-width: 100%;
    border-radius: 8px 8px 0 0;
    background-color: rgb(190, 190, 190);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divInputTitle{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    .editar{
        width: 15px;
        margin-right: 15px;
        cursor: pointer;
    }
    .inputTitle{
        border-radius: 4px;
        padding: 3px;
        font-size: 14px;
    }
}
.title{
    display: flex;
    max-width: 90%;
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
}
.btnFecha{
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    border-radius: 4px;
    color: black;
    border: 2px solid black;
}
.btnFecha:hover{
    color: red;
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.1);
}

/************************************************ TIME ************************************************/
.divCreateBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
}
.divNomeData{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 105px;
}
.h3Name{
    font-size: 14px;
    font-weight: 600;
}
.h3Data{
    font-size: 9px;
}

/******************************************** AUTORIZADO **********************************************/
.pAuthorized{
    color: black;
    border-radius: 4px;
    border: 1px dashed red;
    padding: 3px 0;
}

/******************************************** SELECT **********************************************/
.divSelect{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}
.divPriority{
    display: flex;
}
.select{
    font-size: 12px;
    border-radius: 4px;
    padding: 3px;
    width: 110px;
}
.divType{
    display: flex;
    align-items: center;
    width: 450px;
}
.checkboxContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.divLabel{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.labelType{
    font-size: 14px;
    display: flex;
    align-items: center;

}

/******************************************** CLIENTES **********************************************/
.divClientSelect {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(88, 88, 88, 0.1);
    flex-direction: column;
    padding: 0 10px 8px 10px;
  }
.divSelectClient{
    padding: 6px 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.selectClient {
    margin-right: 10px;
    padding: 5px;
    border-radius: 4px;
}
.divClient {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.divNameBtn {
    display: flex;
    align-items: center;;
    box-shadow: 0 1px 4px rgba(0, 0, 255, 0.4);
    border: 1px solid rgba(0, 0, 255, 0.4);
    border-radius: 4px;
    padding: 5px 8px;
    margin-bottom: 3px;
    margin-left: 10px;
}    
.pName {
    margin-right: 25px;
}

/******************************************** DESCRICÃO - SOLUÇÂO **********************************************/
.divDesc{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
    border-radius: 6px;
    padding: 5px 10px;
}
.pDesc{
    font-size: 16px;
    font-weight: 600;
    padding: 4px;
}
.textarea{
    font-size: 15px;
    width: 650px;
    max-width: 95%;
    height: 70px;
    resize: vertical;
    overflow-y: auto;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid black;
}

/******************************************** TAREFAS **********************************************/
.divTarefas{
    padding: 8px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(88, 88, 88, 0.1);
}
.divTitleTarefas{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divInput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.divAddTarefa{
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    input{
        padding: 5px;
        border-radius: 4px;
        width: 400px;
        margin-right: 15px;
        border: 1px solid rgba(0, 0, 0, 0.8);
    }
}
.divUl{
    width: 100%;
    padding: 5px 0;
}
.ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.li{
    width: 90%;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 1px 4px rgba(0, 0, 255, 0.4);
    border: 1px solid rgba(0, 0, 255, 0.4);
    border-radius: 4px;

    > div {
        display: flex;
        align-items: center;
    }
    label{
        margin-left: 5px;
    }
    > button{
        border: 1px solid red;
        color: red;
    }
    > button:hover{
        font-weight: 600;
        background-color: rgba(255, 0, 0, 0.1);
    }
}

/******************************************** BOTÕES **********************************************/

.btnEditar {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
}
.btnEditar:hover{
    font-weight: 700;
}
.btnExcluir{
    border: 1px solid red;
    color: red;
    border-radius: 4px;
    font-size: 10px;
}
.btnExcluir:hover{
    font-weight: 600;
    background-color: rgba(255, 0, 0, 0.1);
}


.divExcluir{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 2px;
}

.salvar{
    font-size: 12px;
    font-weight: 600;
    color: green;
    margin: 8px;
    border-radius: 4px;
    width: 70px;
    height: 30px;
    max-width: 90%;
    border: 2px solid green;
}
.salvar:hover{
    font-size: 16px;
    font-weight: 700;
    background-color: rgba(0, 128, 0, 0.3);
}

.excluir{
    font-size: 12px;
    font-weight: 600;
    color: red;
    margin: 8px;
    border-radius: 4px;
    width: 70px;
    height: 30px;
    max-width: 90%;
    border: 2px solid red;
}
.excluir:hover{
    font-size: 16px;
    font-weight: 700;
    background-color: rgba(128, 0, 0, 0.3);
}

.spanExcluir{
    padding: 2px;
    border: 1px dashed red;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pExcluir{
    font-size: 12px;
    font-weight: 600;
}
.divSimNao{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin-top: 5px;
}
.btnSim{
    font-size: 10px;
    font-weight: 600;
    color: red;
    border-radius: 4px;
    max-width: 90%;
    border: 2px solid red;
    margin-right: 35px;
}
.btnSim:hover{
    background-color: rgba(128, 0, 0, 0.3);
}

.btnNao{
    font-size: 10px;
    font-weight: 600;
    color: grey;
    border-radius: 4px;
    max-width: 90%;
    border: 2px solid grey;
}
.btnNao:hover{
    background-color: rgba(128, 128, 128, 0.3);
}

.pError{
    display: flex;
    margin: 3px 0;
    font-size: 12px;
    color: red;
}

.salvarLoading{
    font-size: 12px;
    color: gray;
    border-radius: 4px;
    width: 130px;
    height: 30px;
    max-width: 90%;
    border: 2px solid gray;
    font-weight: 700;
    cursor: not-allowed;
}