@use "../../scss/abstract/" as *;

.header{
    background-color: rgb(245, 245, 245);
    width: 100%;
}
.secHeader{
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.figureLogo{
    margin-left: 20px;
}
.divInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    max-width: 90%;
    align-items: flex-start;
    padding: 8px;
    box-shadow: 9px 14px 31px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.divInfoHeader{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.name{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}
.divCargo{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.cargo{
    font-size: 10px;
    font-weight: 400;
    margin-top: 5px;
    width: 85px;
}
.email{
    font-size: 10px;
    font-weight: 400;
}

.btnSair{
    font-size: 14px;
    font-weight: 500;
    padding: 2px 12px;
    border-radius: 4px;
}
.btnSair:hover{
    font-weight: 600;
}