@use "../../scss/abstract/" as *;

.header{
    background-color: rgb(245, 245, 245);
    width: 100%;
}
.secHeader{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.figureLogo{

}
.divInfo{

}
.name{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}
.cargo{
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 4px;
}
.email{
    font-size: 10px;
    font-weight: 400;
}
