@use "../../scss/abstract/" as *;

.main{
    max-width: 1240px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.divHeaderSec{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.secBody{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 900px) {
    .divInputs{
        flex-direction: column;
    }
  }
