@use "../../scss/abstract/" as *;


.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalCard{
    background-color: white;
    border-radius: 8px;
    text-align: center;
    width: 700px;
    max-width: 95%;
    max-height: 95%;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.form{
    border-radius: 8px;
    max-height: 90%;
    overflow: auto;
}

/********************************************HEADER**********************************************/
.divHeader{
    max-width: 100%;
    border-radius: 8px 8px 0 0;
    background-color: rgb(190, 190, 190);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}
.inputTitle{
    display: flex;
    justify-content: center;
    width: 300px;
    padding: 6px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    outline: none;
    border: 1px solid black;
}
.pError{
    display: flex;
    margin: 5px 0;
    font-size: 12px;
    color: red;
}
.btnFecha{
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    border-radius: 4px;
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.8);
}
.btnFecha:hover{
    color: red;
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.1);
}

/********************************************SELECT**********************************************/
.divTypePrioryt{
    display: flex;
    justify-content: space-around;
    padding: 5px 10px;
}
.divSelect{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 4px 0;
}
.select{
    font-size: 14px;
    border-radius: 4px;
    padding: 3px;
    width: 110px;
}
.divType{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 4px 0;
    width: 450px;
}
.checkboxContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/******************************************** CLIENTES **********************************************/
.divClientSelect {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(88, 88, 88, 0.1);
    flex-direction: column;
    padding: 5px 10px;
  }
.divSelectClient{
    padding: 6px 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.selectClient {
    margin-right: 10px;
    padding: 5px;
    border-radius: 4px;
}
.divClient {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.divNameBtn {
    display: flex;
    align-items: center;;
    box-shadow: 0 1px 4px rgba(0, 0, 255, 0.4);
    border: 1px solid rgba(0, 0, 255, 0.4);
    border-radius: 4px;
    padding: 5px 8px;
    margin-bottom: 3px;
    margin-left: 10px;
}    
.pName {
    margin: 0;
    margin-right: 25px;
}
.btnSlavar {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
}
.btnSlavar:hover{
    font-weight: 700;
}
.btnExcluir{
    border: 1px solid red;
    color: red;
    border-radius: 4px;
}
.btnExcluir:hover{
    font-weight: 600;
    background-color: rgba(255, 0, 0, 0.1);
}

/******************************************** DESCRICÃO - SOLUÇÂO **********************************************/
.divDesc{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
    border-radius: 6px;
    padding: 5px 10px;
}
.pDesc{
    font-size: 16px;
    font-weight: 600;
    padding: 4px;
}
.textarea{
    font-size: 15px;
    width: 650px;
    max-width: 95%;
    height: 70px;
    resize: vertical;
    overflow-y: auto;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid black;
}

/********************************************TAREFAS**********************************************/
.divTarefas{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    background-color: rgba(88, 88, 88, 0.1);
}
.divTitleTarefas{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divInput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.divAddTarefa{
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    input{
        padding: 8px;
        border-radius: 4px;
        width: 400px;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.8);
    }
}

.divUl{
    width: 100%;
    padding: 5px 0;
}
.ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.li{
    width: 90%;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 1px 4px rgba(0, 0, 255, 0.4);
    border: 1px solid rgba(0, 0, 255, 0.4);
    border-radius: 4px;

    > div {
        display: flex;
        align-items: center;
    }
    label{
        margin-left: 5px;
    }
    > button{
        border: 1px solid red;
        color: red;
    }
    > button:hover{
        font-weight: 600;
        background-color: rgba(255, 0, 0, 0.1);
    }
}
.divExcluir{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 5px;
}

/******************************************** FILE **********************************************/
.secFile {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px 10px;
}
.pDesc{
    font-size: 16px;
    font-weight: 600;
    padding: 3px;
}
.divAddFile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}
.btnSelectFile{
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
    margin-right: 25px;
    font-weight: 600;
}
.btnSelectFile:hover{
    background-color: #d3d3d3;
}
.divSpan{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.span{
    font-size: 16px;
    font-weight: 700;
}
.spanFile{
    font-size: 16px;
    font-weight: 600;
    margin-right: 25px;
}
.btnSalveFile{
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}
.btnSalveFile:hover{
    font-weight: 700;
}

.divAllFile{
    display: flex;
    flex-direction: column;
}
.divFile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 255, 0.4);
    border: 1px solid rgba(0, 0, 255, 0.4);
}
.fileName{
    font-size: 14px;
    font-weight: 600;
    margin-left: 15px;
    margin-right: 25px;
}
.fileLink{
    font-size: 14px;
    font-weight: 600;
}
.fileExcluir{
    font-size: 12px;
    font-weight: 600;
    color: red;
    margin: 5px;
    border-radius: 4px;
    padding: 3px;
    max-width: 90%;
    border: 2px solid red;
}
.fileExcluir:hover{
    background-color: rgba(128, 0, 0, 0.3);
}

/********************************************BOTÂO SALVAR**********************************************/
.salvar{
    font-size: 18px;
    font-weight: 600;
    color: green;
    margin-bottom: 6px;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    max-width: 90%;
    border: 2px solid green;
}
.salvar:hover{
    font-size: 20px;
    font-weight: 700;
    background-color: rgba(0, 128, 0, 0.3);
}